.clutch-gap{
gap: 2.375rem;
}

@media (max-width:991px){
.clutch-gap{
gap: 1.5rem;
}
}

@media (max-width:767px){
.clutch-gap{
gap: 1rem;
}
}

.overflow-h{
    overflow: hidden;
}

.sbg-light{
    background-color: #FDFDFD;
}
.sbg-gray{
    background-color: #F4F4F4;
}

.text-light{
    color:#ffffff;
}
.text-black{
    color:#000000;
}
.text-crimson{
    color:#D81F28;
}

.main-banner{
    padding: 160px 0;
}