.services-hero{
    background-image: url('../images/services/SEO/banner-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.ppc-hero-services{
    background-image: url('../services-img/ppc-management.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}